<div class="container">
    <div class="header">
        <div class="pagination-top">
            <nz-pagination 
                [nzPageIndex]="pageIndex"
                [nzPageSize]="pageSize"
                [nzTotal]="users.length"
                [nzPageSizeOptions]="[8, 16, 24]"
                (nzPageIndexChange)="onPageIndexChange($event)"
                (nzPageSizeChange)="onPageSizeChange($event)">
            </nz-pagination>
        </div>
        <h1>User Data Table</h1>
        <div class="action-buttons-top">
            <button nz-button nzType="primary" (click)="showAddModal()">
                Add User
            </button>
        </div>
    </div>

    <nz-card [nzBordered]="false">
        <nz-table 
            #basicTable 
            [nzData]="displayedUsers"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            nzBordered>
            <thead>
                <tr>
                    <th nzWidth="200px">Name</th>
                    <th nzWidth="200px">Email</th>
                    <th nzWidth="150px">Phone</th>
                    <th>Address</th>
                    <th nzWidth="120px">Date of Birth</th>
                    <th nzWidth="100px">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (user of basicTable.data; track user.id){
                <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>{{ user.address }}</td>
                        <td>{{ user.dateOfBirth | date: 'shortDate' }}</td>
                        <td class="action-buttons">
                            <button nz-button nzType="primary" nzGhost (click)="showEditModal(user)">
                                Edit
                            </button>
                        </td>
                </tr>
                }
            </tbody>
        </nz-table>
    </nz-card>

    <nz-modal
        [(nzVisible)]="isModalVisible"
        [nzTitle]="isEditMode ? 'Edit User' : 'Add User'"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkText]="isEditMode ? 'Update' : 'Create'"
        [nzWidth]="600"
        [nzCentered]="true"
        [nzMaskClosable]="false"
        [nzMask]="true">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="userForm" nzLayout="horizontal">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Name</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input your name!">
                        <nz-input-group [nzPrefix]="userIcon">
                            <input nz-input formControlName="name" placeholder="Enter your name" />
                        </nz-input-group>
                        <ng-template #userIcon>
                            <nz-icon nzType="user" nzTheme="outline" />
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input a valid email!">
                        <nz-input-group [nzPrefix]="emailIcon">
                            <input nz-input formControlName="email" placeholder="Email" type="email" />
                        </nz-input-group>
                        <ng-template #emailIcon>
                            <nz-icon nzType="mail" nzTheme="outline" />
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
        
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Phone Number</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input the phone number!">
                        <nz-input-group [nzPrefix]="phoneIcon">
                            <input nz-input formControlName="phoneNumber" placeholder="Phone Number" />
                        </nz-input-group>
                        <ng-template #phoneIcon>
                            <nz-icon nzType="phone" nzTheme="outline" />
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
        
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Address</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input the address!">
                        <nz-input-group [nzPrefix]="addressIcon">
                            <input nz-input formControlName="address" placeholder="Address" />
                        </nz-input-group>
                        <ng-template #addressIcon>
                            <nz-icon nzType="home" nzTheme="outline" />
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Date of Birth</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please select the date of birth!">
                        <nz-date-picker formControlName="dateOfBirth" [nzPlaceHolder]="'Select date'" ></nz-date-picker>
                        @if (userForm.get('dateOfBirth')?.hasError('required')){
                            <ng-container>
                                Please select the date of birth!
                            </ng-container>
                        }
                        @if (userForm.get('dateOfBirth')?.hasError('underage')){
                            <ng-container >
                                User must be at least 18 years old
                            </ng-container>
                        }
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>