<div class="container">
    <div class="header">
        <h1> User Data Table </h1>
        <button nz-button nzType="primary" (click)="showAddModal()">
            <span nz-icon nzType="plus-outline"></span> 
            Add User
        </button>
    </div>

    <nz-card [nzBordered]="false">
        <nz-table 
            #basicTable 
            [nzData]="users"
            [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="[5, 10, 20]"
            nzBordered>
            <thead>
                <tr>
                    <th nzWidth="200px">Name</th>
                    <th nzWidth="200px">Email</th>
                    <th nzWidth="150px">Phone</th>
                    <th>Address</th>
                    <th nzWidth="120px">Date of Birth</th>
                    <th nzWidth="100px">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of basicTable.data">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phoneNumber }}</td>
                    <td>{{ user.address }}</td>
                    <td>{{ user.dateOfBirth | date: 'shortDate' }}</td>
                    <td class="action-buttons">
                        <button nz-button nzType="primary" nzGhost (click)="showEditModal(user)" nzTooltipTitle="Edit User" nzTooltipPlacement="top" nz-tooltip title="Edit User">
                            <span nz-icon nzType="edit-outline"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>

    <nz-modal
        [(nzVisible)]="isModalVisible"
        [nzTitle]="isEditMode ? 'Edit User' : 'Add User'"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
        [nzOkText]="isEditMode ? 'Update' : 'Create'"
        [nzWidth]="500">
        <ng-container *nzModalContent>
            <form nz-form [formGroup]="userForm" nzLayout="horizontal">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Name</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input your name!">
                        <nz-input-group [nzPrefix]="userIcon">
                            <input nz-input formControlName="name" placeholder="Enter your name" />
                        </nz-input-group>
                        <ng-template #userIcon>
                            <span nz-icon nzType="user"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Email</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input a valid email!">
                        <nz-input-group [nzPrefix]="emailIcon">
                            <input nz-input formControlName="email" placeholder="Email" type="email" />
                        </nz-input-group>
                        <ng-template #emailIcon>
                            <span nz-icon nzType="mail"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
        
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Phone Number</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input the phone number!">
                        <nz-input-group [nzPrefix]="phoneIcon">
                            <input nz-input formControlName="phoneNumber" placeholder="Phone Number" />
                        </nz-input-group>
                        <ng-template #phoneIcon>
                            <span nz-icon nzType="phone"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
        
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Address</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please input the address!">
                        <nz-input-group [nzPrefix]="addressIcon">
                            <input nz-input formControlName="address" placeholder="Address" />
                        </nz-input-group>
                        <ng-template #addressIcon>
                            <span nz-icon nzType="home"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Date of Birth</nz-form-label>
                    <nz-form-control [nzSpan]="18" nzErrorTip="Please select the date of birth!">
                        <nz-date-picker formControlName="dateOfBirth" [nzPlaceHolder]="'Select date'"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </ng-container>
    </nz-modal>
</div>